@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rejwanul Reja<br />
    Mirpur-01, Dhaka, Bangladesh<br />
    <abbr title="Phone">Phone:</abbr>
    +8801718055626
</address>

<address>
    <strong>Email:</strong>   rezaice07@gmail.com<br />
    <strong>Skype:</strong> rezaice07_1
</address>